section.Section.Section--bgNeutral
    .Container
        p Our training programs help your business improve by focusing on your greatest asset: your people.
        ul
            li Do you have all the right people on your team?
            li Do you have them working in their strength zone?
            li Is the personality of your business the way you want it?
        p Located in Cairns, we travel throughout Australia for Company Culture development solutions.
        p.u-textCenter
            button.Button.u-marginB0
                a(href="mailto:#{ site_email }") Book a free meeting
        p.u-textSans.u-sm-size4of12.Grid-cell--center Alternatively, contact Greg Smedts by #[a(href="mailto:#{ site_email }") email] or call 0457 738 099

section.Section.Section--bgNeutralHalf
    .Container
        .FlexEmbed
            .FlexEmbed-ratio.FlexEmbed-ratio--16by9
            iframe.FlexEmbed-content(src='https://www.youtube.com/embed/JYNDUp0zSzI', frameborder='0', allowfullscreen='allowfullscreen')

//- section.Section
//-     .Container
//-         p.u-textSansB.u-marginB0 Ps. Every fortnight we do a podcast on solution-based people development.
//-         p.u-textSans Tell us what you think of the latest episode!

section.Section
    .Container
        figure.Figure.u-textCenter
            img(src="img/icon-culture.jpg", alt="Company culture is important", style="width:460px;")
        h1.u-size10of12 Why is Company Culture important?
        p #[span.u-textRgEmB Company culture effects everyone and everything you do as a company.] A company which understands the importance of company culture and have taken the opportunity to focus energy, time and resources have found major improvements in finances, recruiting, morale, motivation, customer service, leadership and retention just to mention a few.
        //- p We help you evaluate and develop strategic plans with the resources available, and we hold you accountable for the results you want to achieve. We enhance the mindsets of your people through profiling, education, mindset development and training with the specific use of NLP tools and strategies.
        //- p We believe in the synergistic approach, because the system is only great when all parts work in harmony.
        
        h2.u-marginBD2 So what is culture?
        //- p.u-textRgEmB.u-textCenter What is your business missing?
        p Think about the different places around the world and we talk about their cultures.  These are not certain things you see, hear, feel and do, they are the combination of everything, therefore a company doesn’t have culture it is culture.  It is the way the people talk to each other and interact.  
        p There is an ingrained culture from the beginning of any organisation and if a company doesn’t particularly focus on the culture the culture creates itself and what this means is thing begin to fall through the gaps.  Productivity slows down, turnover becomes high and staff become disengaged.
        p.u-textCenter
            button.Button
                a(href="mailto:#{ site_email }") Want to know more? Get in touch
        
        .HzLine

section.Section
    .Container
        h1 What people say about us
        figure.Figure.Container--textColumn
            .FlexEmbed
                .FlexEmbed-ratio.FlexEmbed-ratio--16by9
                    iframe.FlexEmbed-content(src='https://www.youtube.com/embed/yf1QNHgf2iE', frameborder='0', allowfullscreen='allowfullscreen')
        
        p.u-textLgB.u-textGreyLite Greg Smedts has the power to transform your life. His skills, knowledge, teaching style and methods have proven to be invaluable to my life in giving me the clarity to see where my roadblocks are and how to get around them. Thank you, Greg.
        p.u-textSmEm.u-textGreyLite.u-textCenter — #[b Wade Allen] CEO, Naked Energy 
        
        a.TestimonialLink(href="https://au.linkedin.com/in/#{ site_linkedin }")
            .Media.u-marginTD2.u-marginBD3
                img.Media-img.img-icon(src="img/icon-linkedin.svg", alt="LinkedIn")
                .Media-body See what else our customers are saying#[i.Arrow-right]
        
        .HzLine

section.Section
    .Container
        .NewsletterForm
            figure.Figure
                img(src="img/icon-newsletter.png", alt="Learn more. Signup to our newsletter and get a free ebook.")
            h2.u-marginBD2
                | Learn more.#[br]
                span Signup to our newsletter and get a free ebook.
            p.u-textCenter Signup to the our newsletter and receive a free copy of our eBook #[span.u-textRgEm Seven Essential Keys to Becoming an Awe-inspiring Leader].
                
            != partial("_shared/newsletter-signup")
            p.u-textSansSm.u-textGreyLite.u-textCenter We respect your privacy. Your details will never be shared with a third party.
   
    
section.Section
    .Container
        h1.u-marginB0 Positive Revolution is Greg Smedts
        p.u-textLgEmB.u-textCenter.u-marginB Company Culture Specialist
        
        .Grid.Grid--withGutter
            .Grid-cell.u-size5of12
                figure.Figure.u-marginTD3.u-marginBD2
                    img(src="img/greg-smedts.jpg", alt="Positive Revolution is Greg Smedts")
                p.u-textSans.u-textLeft.u-marginBD2
                    span.u-textSansB Contact Greg#[br]
                    | Call 0457 738 099#[br]
                    | Email #[a(href="mailto:#{ site_email }") #{ site_email }]#[br]
                    | Connect on #[a(href="https://au.linkedin.com/in/#{ site_linkedin }") LinkedIn]
                p
                    button.Button.Button--sm.u-marginT0.u-marginBD2
                        a(href="mailto:#{ site_email }") Book Greg for a speaking engagement
                figure.Figure.Figure--sm.u-sm-size7of12.u-marginNTD3
                    img.u-inlineBlock(src="img/badge-ABNLP.jpg", alt="Certified member of the Australian Board of Neuro-Linguistic Programming")
                    img.u-inlineBlock(src="img/badge-IICS.png", alt="Certified coach for Instant Insight Communication Systems")
                
            .Grid-cell.u-size7of12
                .u-textSmBlock
                    p Greg is a dynamic training and development specialist with a flair for making learning fun and engaging. Involved in training for the past 7 years and people development for the past 10 years, his areas of specialty are business management, communication and leadership. Greg advises a broad range of clients, from small, sole trader businesses to executive level coaching within million dollar companies.
                    p Greg’s true passion is human behaviour. He is dedicated to developing the whole person, rather than just imparting information to pass assessments. He shows a depth of understanding of the various learning patterns and how best to address these when designing a training. He goes above and beyond to ensure everyone walks away with the skills to apply in real world scenarios.
                    p Having managed several businesses, Greg is well versed in business dynamics and effective leadership. Greg has a wealth of experience in customer service industries, from managing small to medium businesses, where responsibility and effective decision-making are vital, to managing dive operations, where timing and judgement calls require precise calculations to ensure safety and customer enjoyment go hand in hand. Within all these roles, Greg’s leadership and communication expertise were critical.
                    //- p As an executive coach, Greg’s focus is on assisting leaders design and map out the knowledge, skills and experiences they want to have. Greg is driven to succeed and to shine his light for others to follow. He always encourages people to be their best and find positive resources in every situation. With an insatiable thirst for knowledge, Greg continually seeks out new ways in which he can seek to understand and better assist others to learn more effectively. Simply put, Greg loves to help people succeed in their field of endeavour.
