section.Section.Section--bgNeutral
	.Container
		p Positive Revolution is a Queensland based business, specialising in business performance coaching and consulting.  We target areas of Team Building and Organisational Culture to enhance the people connection, ensuring your organisation obtains consistent productive results year after year!
		p.u-textCenter
			button.Button.u-marginB0.
				<a class="typeform-share" href="https://greg143.typeform.com/to/ONxLOX" data-mode="1">Book a free meeting</a>
				<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>

		p.u-textSans.u-sm-size4of12.Grid-cell--center Alternatively, contact Greg Smedts by #[a(href="mailto:#{ site_email }") email] or call 0457 738 099


section.Section.Section--bgNeutralHalf
	.Container
		.FlexEmbed
			.FlexEmbed-ratio.FlexEmbed-ratio--16by9
			iframe.FlexEmbed-content(src='https://www.youtube.com/embed/qYXD53r3FU8', frameborder='0', allowfullscreen='allowfullscreen')

//- section.Section
//-     .Container
//-         p.u-textSansB.u-marginB0 Ps. Every fortnight we do a podcast on solution-based people development.
//-         p.u-textSans Tell us what you think of the latest episode!

section.Section
	.Container
		figure.Figure.u-textCenter
			img(src="img/icon-culture.jpg", alt="Company culture is important", style="width:460px;")
		h1.u-size10of12 Why is Team Building & Culture important?
		p #[span.u-textRgEmB Team performance and culture affects everyone and everything an organisation does.] Leaders who understand the importance of organisational culture and have taken the opportunity to focus energy, time and resources have found major improvements in profits, productivity, recruiting, morale, motivation, customer service, leadership and retention, just to mention a few.
		
		h2.u-marginBD2 So what is culture?
		:markdown
			Culture is the personality of an organisation. This is displayed through the values, beliefs and standards to which a company works. To really understand the culture of an organisation, look directly at the people who work within it.
			
			As the personality guides what a person does, so the culture of an organisation is guided by what their people do. This could be their attitudes, level of service to others, drivers and motivations, problem solving abilities, and their capacity to think outside the square and innovate.
			
			The culture of an organisation will determine the level of active engagement of the employees within the organisation. All culture is driven by the leaders. Bad culture is usually indicated by high absenteeism, low morale and limited productivity. Creating and maintaining the desired culture can be hard to do, though with the assistance of trained professionals, persistent effort and commitment to the team, leaders can make any workplace an enjoyable experience for all.
			
			So what kind of a culture does your organisation want?

		h2.u-marginBD2 What we offer
		:markdown
			Positive Revolution offers a range of varied programs and opportunities from:
			
			- Leadership and executive coaching
			- Team building days (Indoor and out, half or full days)
			- Leadership and Communication trainings
			- Strategic planning meetings
			- Innovation planning days
			- Succession planning programs
			- Professional development programs for leaders
			- Gap analysis and productivity planning
			- Change management processes
			- And more…

		p.u-textCenter
			button.Button.
				<a class="typeform-share" href="https://greg143.typeform.com/to/ONxLOX" data-mode="1">Want to know more? Let's talk</a>
				<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>
		
		.HzLine

section.Section
	.Container
		h1 What people say about us
		figure.Figure.Container--textColumn
			.FlexEmbed
				.FlexEmbed-ratio.FlexEmbed-ratio--16by9
					iframe.FlexEmbed-content(src='https://www.youtube.com/embed/yf1QNHgf2iE', frameborder='0', allowfullscreen='allowfullscreen')
		
		p.u-textLgB.u-textGreyLite If awesomeness was firepower, Greg Smedts would be the Guns of Navarone. Working with Positive Revolution helped us to define our vision, set our direction and head directly toward our goals. We're way ahead of where we would be without that help. Greg's sincere involvement in the improvement of our company made a big difference to the way we work and helped us make lasting changes for the better.
		p.u-textSmEm.u-textGreyLite.u-textCenter — #[b Stewart Flecknoe Brown] Administrator, Reds Global
		
		a.TestimonialLink(href="https://au.linkedin.com/in/#{ site_linkedin }")
			.Media.u-marginT.u-xs-marginTD2.u-marginBD3
				img.Media-img.img-icon(src="img/icon-linkedin.svg", alt="LinkedIn")
				.Media-body See what else our customers are saying#[i.Arrow-right]
		
		.HzLine

section.Section
	.Container
		.NewsletterForm
			figure.Figure
				img(src="img/icon-newsletter.png", alt="Learn more. Signup to our newsletter and get a free ebook.")
			h2.u-marginBD2
				| Learn more.#[br]
				span Signup to our newsletter and get a free ebook.
			p.u-textCenter Signup to the our newsletter and receive a free copy of our eBook #[span.u-textRgEm Seven Essential Keys to Becoming an Awe-inspiring Leader].
				
			!= partial("_shared/newsletter-signup")
			p.u-textSansSm.u-textGreyLite.u-textCenter We respect your privacy. Your details will never be shared with a third party.
   
	
section.Section
	.Container
		h1.u-marginB0 Positive Revolution Leader, Greg Smedts
		p.u-textLgEmB.u-textCenter.u-marginB Business Performance Specialist
		
		.Grid.Grid--withGutter
			.Grid-cell.u-xs-size5of12
				figure.Figure.u-marginTD3.u-marginBD2
					img(src="img/greg-smedts.jpg", alt="Positive Revolution is Greg Smedts")
				p.u-textSans.u-textLeft.u-marginB.u-xs-marginBD2
					span.u-textSansB Contact Greg#[br]
					| Call 0457 738 099#[br]
					| Email #[a(href="mailto:#{ site_email }") #{ site_email }]#[br]
					| Connect on #[a(href="https://au.linkedin.com/in/#{ site_linkedin }") LinkedIn]
				p
					button.Button.Button--sm.u-marginT0.u-xs-marginBD2
						a(href="mailto:#{ site_email }") Book a speaking engagement
				figure.Figure.Figure--sm.u-sm-size7of12.u-marginNTD3.u-textCenter
					img.u-inlineBlock(src="img/badge-ABNLP.jpg", alt="Certified member of the Australian Board of Neuro-Linguistic Programming")
					img.u-inlineBlock(src="img/badge-IICS.png", alt="Certified coach for Instant Insight Communication Systems")
				
			.Grid-cell.u-xs-size7of12
				.mxs-HzLine
				.u-textSmBlock
					:markdown
						Greg is a dynamic performance specialist with a flair for making the process of team building and culture development fun and engaging. Involved in training for the past 8 years and people development for the past 11 years, his areas of specialty are team building, leadership development, business management and communication. Greg advises a broad range of clients, from small, sole trader businesses to executive level development within multi-million dollar companies.

						Greg’s true passion is human behaviour. His dedication to developing sustainable work environments is of the highest importance. He shows a depth of understanding of the various learning styles and how best to address these when working with companies and teams. He goes above and beyond to ensure everyone walks away with the skills to apply in everyday life, not just at work.

						Being the current Cairns Director for BNI (Business Network International) and having managed several businesses previously, Greg is well versed in business dynamics, commercial viability and effective leadership. Greg has a wealth of experience in customer service industries, from managing small to medium businesses, where responsibility and effective decision-making are vital, to managing operations where timing and judgement calls require precise calculations to ensure safety and customer enjoyment go hand in hand. Within all these roles, Greg’s leadership and communication expertise were critical.

					
